pkgbase = python-aiohttp-retry
	pkgdesc = Simple retry client for aiohttp.
	pkgver = 2.8.3
	pkgrel = 1
	url = https://github.com/inyutin/aiohttp-retry
	arch = x86_64
	arch = arm
	arch = aarch64
	arch = armv7l
	arch = i686
	arch = pentium4
	arch = powerpc
	arch = mips
	license = MIT
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-pytest-xdist
	makedepends = python-setuptools
	makedepends = python-wheel
	makedepends = python-build
	makedepends = python-installer
	depends = python
	depends = python-aiohttp
	depends = python-yarl
	source = https://github.com/inyutin/aiohttp-retry/archive/v2.8.3/python-aiohttp-retry-2.8.3.tar.gz
	sha512sums = 71869c3997e9b5089c298fa6f992b0ed08ca3da0f93c4f37566d8c6b9809bb1873a629cc47f1ffaeccac112d96036851794ee564b11c0f4f1eec00f49413358d
	b2sums = f2ea6f7b2f13001bd8d49b4529eacb3766cab080ff3a9457e40287bc797afebae10393a628cf78756074ca60a62df78c59c6120f1368316084155f1d7fd7cdfb

pkgname = python-aiohttp-retry
